@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i');

* {
    font-family: "Arimo", Roboto, Arial, sans-serif;
}

h1 {
    font-size: 50px;
}

section.manageSMS {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    padding: 25px;
    border: none;
    background-color: blue;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

button:visited {
    background-color: crimson;
}