@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i');

* {
    font-family: "Arimo", Roboto, Arial, sans-serif;
}

h1 {
    font-size: 50px;
}

section.manageSMS {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.fillButton {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0;
    /*padding: 25px;*/

    /*background-color: white;*/
    margin-bottom: 10px;
}

.linkFillButton {
    color: blue;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    display:inline-block;
    text-align:center;
    width: 80vw;
    padding: 25px 0;
    border: 2px solid blue;
    transition:0.3s ease all;
    position:relative;
}

.linkFillButton::before {
    transition:5s all ease;
    position:absolute;
    top:0;
    left:50%;
    right:50%;
    bottom:0;
    opacity:0;
    content:'';
    background-color:blue;
    color: white;
    z-index:-2;
}

.linkFillButton:hover {
    color: white;
}

.linkFillButton:hover::before {
    transition:5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.pink {
    color: #FD6E88;
    border-color: #FD6E88;
}

.pink::before {
    background-color:#FD6E88;
}

.hide {
    background-color: black;
    padding: 15px;
    color: white;
}

/*button.alreadyDone {*/
    /*border: none;*/
    /*background-color: lightgrey;*/
    /*color: dimgrey;*/
    /*!* Au final ce sera en visibility: hidden *!*/
/*}*/

/*******

    Bottom navigation
    Messages - Write - Stats

 *******/

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: white;
    height: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px rgba(0,0,0,0.15);
}

.bottom-nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.bottom-nav ul li.nav-element {
    width: 33vw;
    overflow: hidden;
}

.bottom-nav a.nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-nav .icon img {
    height: 22px;
    width: auto;
}

.bottom-nav .nav-item-text {
    font-size: 0.9em;
}

.nav-link.active {
    color: blue;
}





#manageSMS {
    display: none;
}